region_name    = "{{ aws_region }}"
name_tag       = "{{ aws_name_tag }}"
ami_id         = "{{ aws_ami_id }}"
instance_type  = "{{ aws_instance_size }}"
public_key     = "{{ aws_instance_public_key }}"
instance_names = {{ input_instance_names | default(['instance-1']) | to_json }}
