terraform {
	backend "remote" {
    organization = "{{ tf_org }}"

    workspaces {
      name = "{{ tf_workspace }}"
    }
	}

  required_providers {
    aws = {
      source = "hashicorp/aws"
    }
    ansible = {
      source  = "ansible/ansible"
      version = "~> 1.3.0"
    }
    local = {
      source = "hashicorp/local"
    }
  }
}

variable "ansible_user" {
  type        = string
  description = "SSH user Ansible uses to connect to provisioned EC2 instances."
  default     = "ec2-user"
}

variable "ansible_private_key" {
  type        = string
  description = "SSH private key content matching public_key, used by the ansible provider on the Terraform runner."
  sensitive   = true
}

variable "ansible_playbook_file" {
  type        = string
  description = "Playbook filename bundled in the uploaded Terraform configuration."
  default     = "install_nginx-rhel.yml"
}

variable "region_name" {
  type        = string
  description = "The AWS region to provision resources into."
}

variable "name_tag" {
  type        = string
  description = "The Name that will be used to tag EC2 resources created by the TF plan."
}

variable "ami_id" {
  type        = string
  description = "The id of the AMI that will be used for the EC2 instances created by the TF plan."
}

variable "instance_type" {
  type        = string
  description = "The EC2 instance type that will be used to create new EC2 instances."
}

variable "instance_count" {
  type        = number
  description = "The number of EC2 instances to create."
  default     = 1
}

variable "public_key" {
  type        = string
  description = "The public key to deploy for the new instance(s)."
}

provider "aws" {
  region = var.region_name
}

resource "aws_security_group" "Terraform_Demo_SG" {
  name = "${var.name_tag}-sg"

  ingress {
    from_port   = "22"
    to_port     = "22"
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }

  ingress {
    from_port   = "80"
    to_port     = "80"
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }

  ingress {
    from_port   = "8080"
    to_port     = "8080"
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }

  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
}

resource "aws_key_pair" "Terraform_Demo_Key" {
  key_name   = "${var.name_tag}-keypair"
  public_key = var.public_key
}

resource "aws_instance" "Terraform_Demo_EC2" {
  count           = var.instance_count
  ami             = var.ami_id
  instance_type   = var.instance_type
  security_groups = [aws_security_group.Terraform_Demo_SG.name]
  key_name        = "${var.name_tag}-keypair"
  tags = {
    Name        = "${var.name_tag}-${count.index + 1}"
    Provisioner = "Terraform"
    Manager     = "Ansible"
  }
}

resource "local_file" "ansible_private_key" {
  content         = var.ansible_private_key
  filename        = "${path.module}/ansible_private_key.pem"
  file_permission = "0600"
}

resource "local_file" "ansible_inventory" {
  depends_on = [aws_instance.Terraform_Demo_EC2, local_file.ansible_private_key]

  content = templatefile("${path.module}/templates/provisioned_ec2_inventory.ini.tftpl", {
    name_tag         = var.name_tag
    instance_ips     = aws_instance.Terraform_Demo_EC2[*].public_ip
    ansible_user     = var.ansible_user
    private_key_file = local_file.ansible_private_key.filename
  })
  filename        = "${path.module}/inventory.ini"
  file_permission = "0644"
}

resource "ansible_group" "provisioned_ec2" {
  name     = "provisioned_ec2"
  children = [for i in range(var.instance_count) : "${var.name_tag}-${i + 1}"]
}

resource "ansible_host" "ec2" {
  count  = var.instance_count
  name   = "${var.name_tag}-${count.index + 1}"
  groups = [ansible_group.provisioned_ec2.name]

  variables = {
    ansible_host                 = aws_instance.Terraform_Demo_EC2[count.index].public_ip
    ansible_user                 = var.ansible_user
    ansible_ssh_private_key_file = local_file.ansible_private_key.filename
    ansible_python_interpreter   = "/usr/bin/python3"
  }

  depends_on = [
    aws_instance.Terraform_Demo_EC2,
    local_file.ansible_private_key,
    ansible_group.provisioned_ec2,
  ]
}

resource "ansible_playbook" "install_nginx" {
  playbook   = var.ansible_playbook_file
  name       = "${var.name_tag}-1"
  groups     = [ansible_group.provisioned_ec2.name]
  replayable = true
  args       = ["-i", local_file.ansible_inventory.filename]

  depends_on = [
    aws_instance.Terraform_Demo_EC2,
    ansible_host.ec2,
    ansible_group.provisioned_ec2,
    local_file.ansible_inventory,
    local_file.ansible_private_key,
  ]
}

output "instance_ip_addr" {
  value       = formatlist("%v", aws_instance.Terraform_Demo_EC2[*].public_ip)
  description = "The Public IP address of the instance."
}

output "instance_public_dns" {
  value       = formatlist("%v", aws_instance.Terraform_Demo_EC2[*].public_dns)
  description = "The Public DNS of the instance."
}

output "instance_tags" {
  value       = formatlist("%v", aws_instance.Terraform_Demo_EC2[*].tags_all)
  description = "The tags of the instance."
}

output "ansible_inventory_file" {
  value       = local_file.ansible_inventory.filename
  description = "Generated Ansible inventory file path on the Terraform runner."
}

output "ansible_host_names" {
  value       = [for i in range(var.instance_count) : "${var.name_tag}-${i + 1}"]
  description = "Ansible host names registered by the ansible provider."
}

output "ansible_playbook_stdout" {
  value       = ansible_playbook.install_nginx.ansible_playbook_stdout
  description = "Stdout from the ansible_playbook resource."
  sensitive   = false
}
