terraform {
	backend "remote" {
    organization = "{{ tf_org }}" 

    workspaces { 
      name = "{{ tf_workspace }}" 
    } 
	}
}

variable "region_name" {
  type        = string
  description = "The AWS region to provision resources into."
}

variable "name_tag" {
  type        = string
  description = "The Name that will be used to tag EC2 resources created by the TF plan."
}

variable "ami_id" {
  type        = string
  description = "The id of the AMI that will be used for the EC2 instances created by the TF plan."
}

variable "instance_type" {
  type        = string
  description = "The EC2 instance type that will be used to create new EC2 instances."
}

variable "instance_names" {
  type        = list(string)
  description = "Unique name for each EC2 instance. Each entry becomes its own state resource for targeted apply/destroy."
  default     = ["instance-1"]
}

variable "public_key" {
  type        = string
  description = "The public key to deploy for the new instance(s)."
}

provider "aws" {
  region  = var.region_name
}

resource "aws_security_group" "Terraform_Demo_SG" {
  name        = "${var.name_tag}-sg"

  ingress {
    from_port   = "22"
    to_port     = "22"
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }

  ingress {
    from_port   = "80"
    to_port     = "80"
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }

  ingress {
    from_port   = "8080"
    to_port     = "8080"
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }

  egress {
    from_port       = 0
    to_port         = 0
    protocol        = "-1"
    cidr_blocks     = ["0.0.0.0/0"]
  }
}

resource "aws_key_pair" "Terraform_Demo_Key" {
  key_name   = "${var.name_tag}-keypair"
  public_key = var.public_key
}

# One-time migration helper when upgrading from count-based instances.
moved {
  from = aws_instance.Terraform_Demo_EC2[0]
  to   = aws_instance.Terraform_Demo_EC2["instance-1"]
}

resource "aws_instance" "Terraform_Demo_EC2" {
  for_each        = toset(var.instance_names)
  ami             = var.ami_id
  instance_type   = var.instance_type
  security_groups = [aws_security_group.Terraform_Demo_SG.name]
  key_name        = "${var.name_tag}-keypair"
  tags = {
    Name        = "${var.name_tag}-${each.key}"
    Provisioner = "Terraform"
    Manager     = "Ansible"
  }
}

output "instance_ip_addr" {
  value       = { for k, v in aws_instance.Terraform_Demo_EC2 : k => v.public_ip }
  description = "Public IP address of each instance, keyed by instance name."
}

output "instance_public_dns" {
  value       = { for k, v in aws_instance.Terraform_Demo_EC2 : k => v.public_dns }
  description = "Public DNS of each instance, keyed by instance name."
}

output "instance_tags" {
  value       = { for k, v in aws_instance.Terraform_Demo_EC2 : k => v.tags_all }
  description = "Tags of each instance, keyed by instance name."
}

